/* src/styles/StudentList.css */
.student-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px; /* To avoid overlap with the footer */
}

/* Styles for list view table container */
.student-list-table-container {
  max-height: calc(100vh - 160px); /* Adjust based on header/footer height */
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  padding-bottom: 100px; /* To avoid overlap with fixed footer */
}

/* Styles for the list view table */
.student-list-table {
  width: 100%;
  border-collapse: collapse;
}

.student-list-table th,
.student-list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.student-list-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}
